snippet cns "console.log(`variable=${variable}`)" b
console.log(\`$2=\$\{$2\}\`);
endsnippet

snippet cnsj "console.log(`variable=${JSON.stringify(variable)}`)" b
console.log(\`$2=\$\{JSON.stringify($2)\}\`);
endsnippet
